#liste-direc {
	background-color: var(--background-color);
	border-left: 4px solid var(--green-element);
	color: var(--green-element);
	.ico-menu svg path { stroke: var(--green-element); }
}
.pulse {
	background-color: var(--green-element);
	&::before { border: 1px solid var(--green-element); }
}

.direct {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.direct-vign {
	background-color: var(--main-color);
	border: 1px solid var(--border-color);
	box-sizing: border-box;
	height: 250px;
	width: calc(950px/2 - 24px);
	margin: 0 12px 24px 12px;

	div {
		height: 100%;
		width: 100%;
	}
}

.countHeure {
	border: none;
	font: inherit;
	color: inherit;
	cursor: pointer;
	outline: none;
	margin: 0 12px 0 12px;
	padding: 6px 0 6px 0;
	width: calc(100% - 24px);
	background: var(--green-element);
	color: #FFFFFF;
	font-weight: bold;
}
