.EauSec54 {
	margin: 30px 0 0 15px;
	text-align: center;

	.EauSec54-logo {
		background: #006BB3;
		height: 100px;
		width: 300px;
		white-space: nowrap;
		cursor: pointer;

		.EauSec54-nom {
			color: #FFFFFF;
			font-weight: bold;
			font-size: 30px;
			display: inline-block;
			margin: 25px 10px 0 35px;
		}

		.EauSec54-img {
			height: 70px;
			vertical-align: middle;
		}

		&:hover {
			border: 2px solid var(--element-color);
			box-sizing: border-box;
		}
	}

	.EauSec54-div {
		width: 101%;
		margin: 2.5% 0 0 -2.5%;
		cursor: pointer;

	    &:hover .EauSec54-a {
	    	color: var(--text-color);
	    }

		.EauSec54-a {
		    color: var(--element-color);
		    text-decoration: none;

		    .EauSec54-u {
		    	color: var(--text-color);
		    }

		    &:visited {
		        color: var(--element-color);
		    }
		}
	}
}
